body
{
    background-color:skyblue;
}

.parallax{
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        text-decoration-color: blanchedalmond;
    }

    
.about
    {
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:white;
        text-indent: 30px;
        font-size: 80px;
       
    }

    .aboutme
    {
        text-align: left;
        font-size: 20px;
        color: black;
        width: 50%;
        margin-left: 60px;
    }
   
    .float-img
    {
    float:right;
    margin-left:10px;
    margin-bottom:5px;
    border:solid black 1px;
    padding:2px;    
    }

    #aboutMe-div
    {
        background-image: url('../aboutmepage.jpg');
        
      }
    #skills-div
    {
    
    background-image: url('../skillspage.jpg');
    }

    .container
    {
        width: 50%;
    }
    a:link {
        color:red;
     text-decoration: none;
    }
    .img-height
    {
        width: 100%;
        height: 40%;

    }
    
    .header{
    font-family:Comic Sans MS;
    font-size: 80px;
    color:white;
    }

    .sub-headings{
        font-family:Comic Sans MS;
        font-size: 40px;
        color:white;
        text-align: center;
        }
